.background{
    background-color: #2e7cf6;
    height: 100%;
}

.card{
    background-color:  transparent !important;
    color: #fff;
    border: none;
    margin-top:35%;
}

.input{
    border-radius: 50px;
}

.btn[type=submit]{
    border-radius: 50px;
}

/* .btn-link[type=email]{
    color: #fff;
} */

h1{
    color: #fff;
}

.form-rounded{
    border-radius:1rem;
}