<app-signup></app-signup>

<div class="row">
    <div class="col-sm-6 text-right pt-5">
      <img class="align-middle m-5" height="300px" src="/assets/What-Is-Scribe-Image.png">
    </div>
    <div class="col-sm-4">
      <h2 class="mx-5 my-5">What is Scribe?</h2>
      <h6 class="mx-5 my-1">
        Scribe is a platform that enables the user to write and share their own content and see the content shared by other users as well. 
        Creating an environment that contains the diverse viewpoints and perspectives of innumerable individuals.        
        <br/><br/>
        Create a new Scribe account and get started! 
        <br/><br/>
        Let's get started!
      </h6>
    </div>
  </div>
  
  <hr/>
  
  <div class="row">
    <div class="offset-sm-2 col-sm-8 text-center pt-5 mt-5">
      <h5>Contact Us</h5>
  
      <div class="row">
        <div class="offset-sm-2 col-sm-4 text-left pt-5 vertical-divider mt-5 ">
          <i class="fa fa-phone mt-3"></i> 7347531846
          <br/>
          <i class="fa fa-envelope mt-3"></i> ayush.tickoo28200@gmail.com
          <br/>
          <i class="fa fa-facebook mt-3"></i> Ayush Tickoo
          <br/>
        </div>
  
        <div class="col-sm-6 text-left py-5 my-5 px-5">
          <i class="fa fa-map-marker mt-3"></i> Reazon Projects Pvt. Ltd.<br/>
          <i class="fa fa-map-marker mt-1 invisible"></i> Mohali, India - 140301<br/>
        </div>
      </div>
  
    </div>
  </div> 